{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2">
                {% if b %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Tipo</th>
                            <th>Potencia (kW)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ b.id }}</th>
                            <td>{{ b.brand }}</td>
                            <td>
                                <a href="{% url 'boiler_detail' b.id %}">
                                    {{ b.model }}
                                </a>
                            </td>
                            <td>{{ b.type }}</td>
                            <td>{{ b.power }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul>
                    </ul>
                {% else %}
                    <div align="center">
                        <h3>
                            Ver Caldera
                        </h3>
                        <h5>
                            Objeto no encontrado.
                        </h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
