{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_staff %}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <h5>
                        Añade una caldera al sistema.
                    </h5>
                    <h5>
                        Especifica Marca, Modelo, Tipo y Potencia máxima, la cual se mide
                        en KiloWatios (kW).
                    </h5>
                    <h5>
                        El consumo es directamente proporcional a la potencia, y esta puede
                        regularse en busca de un comportamiento más eficiente o más veloz.
                    </h5>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>

            <form action="{% url 'boiler' %}" method="post">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="container-fluid">
                            <h4>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Marca:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="brand"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Modelo:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="model"/>
                                    </div>
                                </div>
                                <!--<div class="row-fluid">-->
                                <!--<div class="col-md-6 ">-->
                                <!--<label>Tipo:</label>:-->
                                <!--</div>-->
                                <!--<div class="col-md-6 ">-->
                                <!--<input type="text" name="type"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Potencia (kW):</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="power"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Temperatura Máxima (K):</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="max_temp"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Temperatura Mínima (K):</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="min_temp"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Tipo:</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <select id="selectBox" onchange=changeFunc();>
                                            <option> Seleccione opción</option>
                                            {% for bt in boiler_type_list %}
                                                <option value="{{ bt.value }}">{{ bt.key }}</option>
                                            {% endfor %}
                                        </select>
                                        <span style="display:none">
                                            <input type="text" name="type" id="type"/>
                                        </span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-2 col-md-offset-5">
                                        <input type="submit" value="Añadir"/>
                                    </div>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Añadir Caldera
                        </h3>
                        <h5>
                            Operación no permitida, es necesario ser administrador para realizar esta acción.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function changeFunc() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById("type").value = selectedValue;
        }
    </script>


{% endblock content %}
