{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2">
                {% if boiler_list %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Tipo</th>
                            <th>Potencia (kW)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for b in boiler_list %}
                            <tr>
                                <th scope="row">{{ b.id }}</th>
                                <td>{{ b.brand }}</td>
                                <td>
                                    <a href="{% url 'boiler_detail' b.id %}">
                                        {{ b.model }}
                                    </a>
                                </td>
                                <td>{{ b.type }}</td>
                                <td>{{ b.power }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul>
                    </ul>
                {% else %}
                    <div align="center">
                        <h3>
                            Ver Calderas
                        </h3>
                        <h5>
                            No existe ninguna caldera en el sistema.
                        </h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
