{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2">
                {% if event_list %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Casa</th>
                            <th>Usuario</th>
                            <th>Calendar Id</th>
                            <th>Temperatura Objetivo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in event_list %}
                            <tr>
                                <th scope="row">{{ e.id }}</th>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'residence_detail' e.residence.id %}">
                                            {{ e.residence }}
                                        </a>
                                    {% else %}
                                        {{ e.residence }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'residence_by_user' e.user.id %}">
                                            {{ e.user }} <br>
                                        </a>
                                    {% else %}
                                        {{ e.user }} <br>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'event_detail' e.id %}">
                                            {{ e.google_calendar_event }}
                                        </a>
                                    {% else %}
                                        {{ e.google_calendar_event }}
                                    {% endif %}
                                </td>
                                <td>{{ e.target_temp }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul>
                    </ul>
                {% else %}
                    <div align="center">
                        <h3>
                            Ver Eventos
                        </h3>
                        <h5>
                            No existe ningún evento en el sistema.
                        </h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
