{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8 col-md-offset-2">
            {% if e %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Casa</th>
                        <th>Usuario</th>
                        <th>Calendar Id</th>
                        <th>Temperatura Objetivo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ e.id }}</th>
                        <td>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'residence_detail' e.residence.id %}">
                                    {{ e.residence }}
                                </a>
                            {% else %}
                                {{ e.residence }}
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'residence_by_user' e.user.id %}">
                                    {{ e.user }} <br>
                                </a>
                            {% else %}
                                {{ e.user }} <br>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'event_detail' e.id %}">
                                    {{ e.google_calendar_event }}
                                </a>
                            {% else %}
                                {{ e.google_calendar_event }}
                            {% endif %}
                        </td>
                        <td>{{ e.target_temp }}</td>
                    </tr>
                    </tbody>
                </table>
                <ul>
                </ul>
                </div>
                </div>

                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-4">
                        {% if error_message %}
                            <div align="center">
                                <h5><strong>{{ error_message }}</strong></h5>
                            </div>
                        {% endif %}
                    </div>
                </div>

{#                <div class="row-fluid">#}
{#                    <div class="col-md-2 col-md-offset-5">#}
{#                        <form action="{% url 'event_detail' e.id %}" method="post">#}
{#                            {% csrf_token %}#}
{#                            <input type="text" class="hidden" id="save" name="save"/>#}
{#                            <input type="submit" class="btn btn-primary" value="Guardar en sistema"/>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}

                <div class="row-fluid">
                {% if audit_root %}
                    <div class="col-md-2 col-md-offset-5">
                    <form action="{% url 'event_detail' e.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="hidden" id="generate" name="generate"/>
                        <input type="submit" class="btn btn-primary" value="Generar figura"/>
                    </form>
                {% else %}
                    {% if e.figure_path %}
                        <div class="col-md-8 col-md-offset-2">
                            <div align="center">
                                <a href="{{ e.figure_path }}">
                                    <img src="{{ e.figure_path }}" class="img-responsive">
                                </a>
                            </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                <div align="center">
                    <h3>
                        Ver Evento
                    </h3>
                    <h5>
                        No existe el evento en el sistema.
                    </h5>
                </div>
            {% endif %}
            </div>
            </div>
            </div>

{% endblock content %}
