{% extends 'base.html' %}

{% block content %}

    <body onload=loadDate();>
    {% if residence_list %}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <h5>
                        Desde está página podra crear una serie de eventos que se añadirán a un calendario
                        de Google Calendar propiedad de la aplicación, el cual podrá ser modificado por el
                        usuario desde la propia herramienta.
                    </h5>
                    <h5>
                        El formato de creación de eventos de esta pagina se basa en la repetición de un
                        evento en días sucesivos, esto no implica que el usuario no pueda crear y modificar
                        eventos desde su cuenta de Google Calendar mientras respete el formato predefindo
                        de TermoManager.
                    </h5>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>

            <form action="{% url 'event' %}" method="post">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="container-fluid">
                            <h4>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Fecha inicio:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="date" id="fecha-inicial" name="fecha-inicial" step="1"
                                               max="2030-12-31"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Temperatura (K):</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="textfield" id="target-temp" name="target-temp"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Recurrencia:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="textfield" id="rec" name="rec"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Hora inicio:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="time" id="hora-inicial" name="hora-inicial" step="1">
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Hora fin:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="time" id="hora-final" name="hora-final" step="1">
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Residence:</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <select id="selectBox" onchange=changeFunc();>
                                            <option> Seleccione opción</option>
                                            {% for r in residence_list %}
                                                <option value="{{ r.id }}">Residence:{{ r.id }}:{{ r.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <span style="display:none">
                                                <input type="text" name="residence" id="residence"/>
                                            </span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-2 col-md-offset-5">
                                        <input type="submit" value="Establecer Calendario"/>
                                    </div>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Establecer eventos en calendario.
                        </h3>
                        <h5>
                            Operación no permitida, usuario no dispone de Calendarios validos.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        function loadDate() {
            var fechaInicial = document.getElementById("fecha-inicial");
            var horaInicial = document.getElementById("hora-inicial");
            var horaFinal = document.getElementById("hora-final");

            var hoy = new Date();
            var dd = hoy.getDate();
            var mm = hoy.getMonth() + 1;
            var yyyy = hoy.getFullYear();
            var hh = hoy.getHours();
            var MM = hoy.getMinutes();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            hoy = yyyy + '-' + mm + '-' + dd;

            if (hh < 10) {
                hh = '0' + hh
            }

            if (MM < 10) {
                MM = '0' + MM
            }

            ahora = hh + MM;

            fechaInicial.min = hoy;
        }

        function changeFunc() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById("residence").value = selectedValue;
        }

    </script>

    </body>

{% endblock content %}
