{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <meta charset="utf-8"/>
    <title>Smart Boiler Manager - Termostato inteligente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        }

        #map-canvas {
            height: 65%;
            width: 100%;
        }

        #map {
            height: 65%;
            width: 100%;
        }
    </style>
</head>


<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/boiler-manager" class="navbar-brand">
                Boiler Manager
            </a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Ver<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'events' %}">
                                    Eventos
                                </a>
                            </li>
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'residences' %}">
                                Domicilios
                            </a>
                        </li>
                        {% if request.user.is_staff %}
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'boilers' %}">
                                    Calderas
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Crear
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'event' %}">
                                        Crear Evento
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'residence' %}">
                                        Registrar Domicilio
                                    </a>
                                </li>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'boiler' %}">
                                        Añadir Caldera
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
            {% endif %}



            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Gestionar<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if e %}
                            {% if request.user == e.user %}
                                <li>
                                    <a href="{% url 'boiler' %}">
                                        Dirección programa
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'boiler' %}">
                                        Planificación programa
                                    </a>
                                </li>
                                <li class="divider"></li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="{% url 'geolocation' %}">
                                Ubicación usuario
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_staff or request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    Actualizar perfil
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Cambiar contraseña
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}?next={{ request.path }}">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a id="menu-join" href="#" class="dropdown-toggle"
                           data-toggle="dropdown">
                            Acceder<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'login' %}?next={{ request.path }}">
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}">
                                    Registrarse
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Tools
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'scheduler' %}">
                                    Scheduler
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/admin/">
                                    Administración
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

        </div>

    </div>

</div>

{% block content %}
{% endblock %}

</body>


<footer>
    <div class="container">
        <h5 class="text-center">Departamento de Electrónica y Sistemas</h5>
        <p class="text-center">Alberto Agra Lorenzo</p>
        <p class="text-center">© 2017</p>
    </div>
</footer>

</html>