{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <h5>
                    Esta aplicación web permite gestionar cualquier la calefacción de tu hogar con la ayuda
                    de una Raspberry PI como si fuera un termostato inteligente, el cual se comunicará con
                    una caldera que estará integrada en el sistema, la cual dispondrá de una API que
                    permitirá su control de manera remota lo mas eficiente posible.
                </h5>
                <h5>
                    Es necesario crear un programa para cada termostato, el cual determinará su
                    funcionameinto en base a unos eventos. Dicho programa estará sincronizado a una cuenta
                    de Google gracias al API de Google Calendar, el cual permitirá (previa obtención de
                    unas credenciales) editar y crear nuevos eventos con el fin de amoldarse a las
                    preferencias del usuario.
                </h5>
            </div>
        </div>
    </div>

{% endblock content %}
