{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_staff %}

        <div class="container-fluid">

            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>

{#            <div class="row-fluid">#}
{#                <div class="col-md-2 col-md-offset-5">#}
{#                    <form action="{% url 'scheduler' %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="text" class="hidden" id="begin" name="begin"/>#}
{#                        <input type="submit" class="btn btn-primary" value="Iniciar Scheduler"/>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}

            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{% url 'scheduler' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="hidden" id="refresh" name="refresh"/>
                        <input type="submit" class="btn btn-primary" value="Refresh"/>
                    </form>
                </div>
            </div>

        </div>

        <div class="container-fluid">

            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Comienzo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in cache_list.events %}
                            <tr>
                                <th scope="row">{{ event.id }}</th>
                                <td>{{ event.name }}</td>
                                <td>{{ event.start }}</td>
                                <td>{{ event.end }}</td>
                                <td>{{ event.left_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Scheduler
                        </h3>
                        <h5>
                            Operación no permitida, logueese o registrese en la aplicación.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
