{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}

        <span style="display:none">
            <input type="text" name="latUser" id="latUser" value="{{ lat_user }}"/>
            <input type="text" name="lngUser" id="lngUser" value="{{ lng_user }}"/>
            {% if r %}
                <input type="text" name="latHome" id="latHome" value="{{ lat_home }}"/>
                <input type="text" name="lngHome" id="lngHome" value="{{ lng_home }}"/>
            {% endif %}
        </span>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Admin</th>
                            <th>User</th>
                            <th>Dirección</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ request.user.username }}</td>
                            <td>{{ username }}</td>
                            <td>
                                {% if residences %}
                                    <form action="{% url 'geolocation' %}" method="post">
                                    {% csrf_token %}

                                        <select id="selectBox" onchange=changeFunc();>
                                            <option> Seleccione opción</option>
                                            {% for r in residences %}
                                                <option value="{{ r.id }}">{{ r.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <span style="display:none">
                                            <input type="text" name="res" id="res"/>
                                        </span>
                                        <input type="submit" value="Select"/>

                                    </form>
                                {% endif %}
                                {% if r %}
                                    <td>{{ r.address }}</td>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% if r %}

                <div class="row-fluid">
                    <div class="col-md-6 col-md-offset-3">
                        <div id="map"></div>
                    </div>
                </div>

            {% endif %}

            {% if user_position and r.address %}
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Posición</th>
                                <th>Medio</th>
                                <th>Distancia</th>
                                <th>Tiempo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ user_position }}</td>
                                <td>Coche</td>
                                <td>{{ travel_dist_car }}</td>
                                <td>{{ travel_time_car }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>A pie</td>
                                <td>{{ travel_dist_walk }}</td>
                                <td>{{ travel_time_walk }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Tren</td>
                                <td>{{ travel_dist_train }}</td>
                                <td>{{ travel_time_train }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Bici</td>
                                <td>{{ travel_dist_bike }}</td>
                                <td>{{ travel_time_bike }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             {% endif %}

        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Geolocalización de usuario en tiempo real
                        </h3>
                        <h5>
                            Operación no permitida, logueese o registrese en la aplicación.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


     <script type="text/javascript">
        function initialize() {
            var latUser = document.getElementById('latUser').value;
            var lngUser = document.getElementById('lngUser').value;
            var latHome = document.getElementById('latHome').value;
            var lngHome = document.getElementById('lngHome').value;

            var latlngDownTown = new google.maps.LatLng(43.3624, -8.4123);
            var latlngUser = new google.maps.LatLng(latUser,lngUser);
            var latlngHome = new google.maps.LatLng(latHome, lngHome);

            var myOptions = {
                zoom: 13,
                center: latlngDownTown,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            }
            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            function addMarker(location, title) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: title,
                    draggable:false
                });
            }

            addMarker(latlngUser, 'User')
            addMarker(latlngHome, 'Home')

        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&callback=initialize">
    </script>

     <script type="text/javascript">
        function changeFunc() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById("res").value = selectedValue;
        }
    </script>

{% endblock content %}
