<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
{#    <html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Login</title>#}
{#    </head>#}
{#    <body>#}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4 col-md-offset-4">
                {% if form.errors %}
                    <p>Nombre de usuario y contraseña no coincide. Inténtelo de nuevo</p>
                    <p>Si no tiene cuenta. <a href="{% url 'register' %}">Registrar</a>.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Su cuenta no tiene permisos en esta página. Por favor, entre con un usuario
                            que tenga acceso a esta página.</p>
                    {% else %}
                        <p>Entre con un usuario para ver esta página.</p>
                    {% endif %}
                {% endif %}
                <form method="post" action=".">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" value="Acceder"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
    </div>
{#    </body>#}
{#    </html>#}

{% endblock content %}

