<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

{#    <html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Registro</title>#}
{#    </head>#}
{#    <body>#}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <h1>Regístrate aquí</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Registrar"/>
                </form>
            </div>
        </div>
    </div>
{#    </body>#}
{#    </html>#}

{% endblock content %}
