{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <h5>
                        Registre su domicilio si la suya es una de las múltiples calderas disponibles en
                        la aplicación.
                    </h5>
                    <h5>Se han de establecer las dimensiones de la habitación en la que se instale
                        el termostato. Si la habitación dispone de un radiador, ha de establecerse
                        su pared como 'Lado 1'.
                    </h5>
                    <h5>
                        Después de su creación, se podra establecer la localización de su vivienda y, mediante
                        Google Calendar, una serie de eventos que determinarán el comportamiento de su
                        calefacción.
                    </h5>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>

            <form action="{% url 'residence' %}" method="post">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="container-fluid">
                            <h4>
                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Título:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="title"/>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Lado 1:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="x_side"/>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Lado 2:</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input type="text" name="y_side"/>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-6 ">
                                        <label>Caldera:</label>:
                                    </div>
                                    <div class="col-md-6 ">
                                        <select id="selectBox" onchange=changeFunc();>
                                            <option> Seleccione opción</option>
                                            {% for b in boiler_list %}
                                                <option value="{{ b.id }}">{{ b.brand }}:{{ b.model }}</option>
                                            {% endfor %}
                                        </select>
                                        <span style="display:none">
                                            <input type="text" name="boiler" id="boiler"/>
                                        </span>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-2 col-md-offset-5">
                                        <input type="submit" value="Añadir"/>
                                    </div>
                                </div>
                            </h4>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Registrar Domicilio
                        </h3>
                        <h5>
                            Operación no permitida, loguéese o regístrese en la aplicación.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function changeFunc() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById("boiler").value = selectedValue;
        }
    </script>

{% endblock content %}
