{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2">
                {% if residence_list %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Usuarios</th>
                            <th>Caldera</th>
                            <th>Dirección</th>
                            <th>Calendario</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for r in residence_list %}
                            <tr>
                                <th scope="row">{{ r.id }}</th>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'residence_detail' r.id %}">
                                            {{ r.title }}
                                        </a>
                                    {% else %}
                                        {{ r.title }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        {% for user in r.user.all %}
                                            <a href="{% url 'residence_by_user' user.id %}">
                                                {{ user }} <br>
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for user in r.user.all %}
                                            {{ user }} <br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ r.boiler }}</td>
                                <td>{{ r.address }}</td>
                                <td>{{ r.google_calendar }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul>
                    </ul>
                {% else %}
                    <div align="center">
                        <h3>
                            Ver Domicilios
                        </h3>
                        <h5>
                            No existe ningún domicilio en el sistema.
                        </h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
