{% extends 'base.html' %}

{% block content %}

    {% if r %}
        <div class="container-fluid">

            {% if request.user in r.user.all %}
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-4">
                        {% if error_message %}
                            <div align="center">
                                <h5><strong>{{ error_message }}</strong></h5>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row-fluid">
                    <h4>
                        <form action="{% url 'set_address' r.id %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-2 col-md-offset-3 ">
                                <input type="submit" class="btn btn-primary" value="Establecer Dirección"/>
                            </div>
                        </form>
                        <form action="{% url 'residence_detail' r.id %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-2 col-md-offset-2">
                                <input type="hidden" name="calendar">
                                <input type="submit" class="btn btn-primary" value="Establecer Calendario"/>
                            </div>
                        </form>
                    </h4>
                </div>
            {% endif %}


            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Usuarios</th>
                            <th>Caldera</th>
                            <th>Dirección</th>
                            <th>Calendario</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ r.id }}</th>
                            <td>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'residence_detail' r.id %}">
                                        {{ r.title }}
                                    </a>
                                {% else %}
                                    {{ r.title }}
                                {% endif %}
                            </td>
                            <td>
                                {% if request.user.is_authenticated %}
                                    {% for user in r.user.all %}
                                        <a href="{% url 'residence_by_user' user.id %}">
                                            {{ user }} <br>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    {% for user in r.user.all %}
                                        {{ user }} <br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ r.boiler }}</td>
                            <td>{{ r.address }}</td>
                            <td>{{ r.google_calendar }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Ver Domicilio
                        </h3>
                        <h5>
                            Objeto no encontrado.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
