{% extends 'base.html' %}

{% block content %}

    {% if request.user in r.user.all %}



        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Usuarios</th>
                            <th>Caldera</th>
                            <th>Dirección</th>
                            <th>Calendario</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ r.id }}</th>
                            <td>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'residence_detail' r.id %}">
                                        {{ r.title }}
                                    </a>
                                {% else %}
                                    {{ r.title }}
                                {% endif %}
                            </td>
                            <td>
                                {% if request.user.is_authenticated %}
                                    {% for user in r.user.all %}
                                        <a href="{% url 'residence_by_user' user.id %}">
                                            {{ user }} <br>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    {% for user in r.user.all %}
                                        {{ user }} <br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ r.boiler }}</td>
                            <td>{{ r.address }}</td>
                            <td>{{ r.google_calendar }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-4">
                    {% if error_message %}
                        <div align="center">
                            <h5><strong>{{ error_message }}</strong></h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div id="map-canvas"></div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-2 col-md-offset-5">
                    <form action="{% url 'set_address' r.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="hidden" id="lat" name="lat"/>
                        <input type="text" class="hidden" id="lon" name="lon"/>
                        <input type="submit" class="btn btn-primary" value="Establecer Dirección"/>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div align="center">
                        <h3>
                            Establecer dirección
                        </h3>
                        {% if error_message %}
                            <h5>
                                Operación no permitida, {{ error_message }}.
                            </h5>
                        {% else %}
                            <h5>
                                Operación no permitida, usuario no válido.
                            </h5>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function initialize() {
            var myLatlng = new google.maps.LatLng(43.3624, -8.4123);
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            }
            var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Default Marker',
                draggable: true
            });

            google.maps.event.addListener(map, 'click', function (event) {
                    marker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: 'Click Generated Marker',
                        draggable: true
                    });
                }
            );

            google.maps.event.addListener(
                marker,
                'drag',
                function (event) {
                    document.getElementById('lat').value = this.position.lat();
                    document.getElementById('lon').value = this.position.lng();
                    //alert('Drag');
                });

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById('lat').value = this.position.lat();
                document.getElementById('lon').value = this.position.lng();
                //alert('Drag end');
            });

        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&callback=initialize"
            async defer>
    </script>

{% endblock content %}
